body.app
  background-color: #eee

  .top-bar
    position: fixed
    top: 0
    width: 100%
    z-index: 2
    margin-bottom: 0
    display: none

    li.name
      white-space: nowrap

  .app-page
    background: url('/img/bg.png')
    border-bottom: 1px solid #ccc
    padding: 0 20px

    .app-page-inner
      max-width: 1000px
      margin: 0 auto

    .dobt-logo-wrapper
      text-align center
      padding 10px 0 0

      img
        max-width: 120px

    h2, h3
      text-align: center
      color: #0f1e3f

    h2
      text-shadow: 0px -2px 2px #fff
      margin-bottom: 10px
      font-size: 22px

    h3
      font-weight: 400
      font-size: 14px

    .main-screenshot-row
      .demo-or-more
        margin-top 20px
        text-align: center

        .or
          color: #999
          text-transform: uppercase

        .schedule-demo-button
          margin-bottom 0.75em

        .find-out-more-button
          margin-top: 0.75em

    #features
      padding-top: 10px
      margin 0 -20px

    .feature
      margin -10px 0 30px

      .description-wrapper
        padding 0 25px

      .img-wrapper
        padding 0

      .feature-name
        font-weight: bold
        font-size: 18px
        margin-bottom: 15px

      .feature-description
        font-weight: 400
        font-size: 14px
        line-height: 20px

    .call-to-action
      text-align: center
      margin: 40px 0 30px

@media only screen and (min-width: 768px)
  body.app
    padding-top: 40px

    .top-bar
      display: block

    .app-page
      .dobt-logo-wrapper
        display none

      h2
        padding-top: 35px
        font-size 2.1em

      h3
        font-size 20px
        padding-bottom: 20px

      .button
        padding-top: 1em;
        padding-right: 2em;
        padding-bottom: 1.0625em;
        padding-left: 2em;
        font-size: 1.25em;


      .main-screenshot-row
        display: table-row

        .img-wrapper, .demo-or-more
          display: table-cell
          vertical-align: middle

        .img-wrapper
          width: 65%

        .demo-or-more
          text-align: center
          width: 35%

          .or
            color: #999
            text-transform: uppercase

          .schedule-demo-button
            margin-bottom: 1.03em

          .find-out-more-button
            margin-top: 1.03em

      #features
        margin 0

      .feature
        .description-wrapper
          margin-top: 70px
          text-align: center
          padding 0

        .feature-name
          font-size: 22px
          margin-bottom: 15px

        .feature-description
          font-size: 15px
