html, body
  height: 100%

.smaller
  font-size: 0.8em

.clearfix
  clear: both

footer
  background-color: #eee
  padding: 20px 0 30px
  position: relative

  .contact-details
    margin-top: 10px
    margin-bottom: 10px

    a
      margin-right: 10px

    iframe.twitter-follow-button
      margin-bottom: -4px

  ul.inline-list
    margin-bottom: 0
    font-size: 0.875em

  form
    margin-bottom: 0

    label
      margin-bottom: 8px

    input, .button
      margin-bottom: 0

