html,
body {
  height: 100%;
}
.smaller {
  font-size: 0.8em;
}
.clearfix {
  clear: both;
}
footer {
  background-color: #eee;
  padding: 20px 0 30px;
  position: relative;
}
footer .contact-details {
  margin-top: 10px;
  margin-bottom: 10px;
}
footer .contact-details a {
  margin-right: 10px;
}
footer .contact-details iframe.twitter-follow-button {
  margin-bottom: -4px;
}
footer ul.inline-list {
  margin-bottom: 0;
  font-size: 0.875em;
}
footer form {
  margin-bottom: 0;
}
footer form label {
  margin-bottom: 8px;
}
footer form input,
footer form .button {
  margin-bottom: 0;
}
